[Unit]
Description=Pi Simple Fan Control Service
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/local/bin/pisimplefancontrol.sh --config /etc/pisimplefancontrol.conf
Restart=on-failure
User=root

[Install]
WantedBy=multi-user.target
